@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-a: #0B0E11;
  --text-a: #FFFFFF;
  --text-b: #C3C4C7;
  --text-c: #787B89;
  --orange: #ee5d19;
  --violet: #625df5;
}

body {
  background-color: var(--bg-a);
  color: var(--text-a);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

