@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #335fff;
  --secondary: #528bff;
  --button: #3337FF;
  --hover-orange: #ff6600;
  --tertiary: #1f2024;
  --surface: #e5e5e6;
  --tint: #A1A2A5;
  --text: #BBBCBE;
  --topmate-io: #e44a32;
  --linkedin: #0a66c2;
  --x: #000000;
  --background: #0B0E11;
  --foreground: #ffffff;
  --violet: #625df5;
  --ring: #625df580;
  --bg-a: #0B0E11;
  --text-a: #FFFFFF;
  --text-b: #C3C4C7;
  --text-c: #787B89;
  --orange: #ee5d19;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #335fff;
    --secondary: #528bff;
    --button: #3337FF;
    --hover-orange: #ff6600;
    --tertiary: #1f2024;
    --surface: #e5e5e6;
    --tint: #A1A2A5;
    --text: #BBBCBE;
    --topmate-io: #e44a32;
    --linkedin: #0a66c2;
    --x: #000000;
    --background: #0B0E11;
    --foreground: #ffffff;
    --violet: #625df5;
    --ring: #625df580;
    --bg-a: #0B0E11;
    --text-a: #FFFFFF;
    --text-b: #C3C4C7;
    --text-c: #787B89;
    --orange: #ee5d19;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background-color: var(--orange);
  color: var(--text-a);
}